body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.basckdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.button-modal {
  position: absolute;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 8px;
  margin-left: 490px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  padding: 9px;
  top: 0px;
  right: 8px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.svg-modal {
  width: 18px;
  height: 18px;
  fill: #000000;
}
.svg-modal:hover {
  fill: #2196F3;
}

.form {
  width: 448px;
}

.text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

textarea {
  resize: none;
}

.list-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.list-modal:not(:last-child) {
  margin-bottom: 10px;
}
.list-modal:not(:last-child) {
  margin-bottom: 10px;
}
.list-modal label {
  margin-bottom: 4px;
}
.list-modal textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.list-modal textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.list-modal textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.list-modal textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.list-modal textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.list-modal input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 40px;
  padding: 14px;
  padding-left: 42px;
}
.list-modal textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 120px;
  padding: 12px 16px;
}
.list-modal input:hover {
  border-color: #2196F3;
}
.list-modal textarea:hover {
  border-color: #2196F3;
}

.name-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-div {
  position: relative;
}

.input-modal {
  width: 448px;
}
.input-modal:hover ~ .svg-input {
  fill: #2196F3;
}
.input-modal:focus ~ .svg-input {
  fill: #2196F3;
}

.svg-input {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 14px;
  left: 15px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox:checked + .icon-agreement {
  background-image: url(../images/check.svg);
  background-color: #2196F3;
  border-color: #2196F3;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: contain;
}

.icon-agreement {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.div-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.div-modal input {
  width: 0px;
  height: 15px;
}

.text-two {
  display: block;
  letter-spacing: 0.01em;
  line-height: 24px;
  margin-left: 8px;
  color: #757575;
}

.text-span {
  color: #2196F3;
}

.but-modal {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0ch;
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 30px;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: #FFFFFF;
}
.but-modal:hover {
  background-color: #188CE8;
}

.modal-ul {
  margin-bottom: 20px;
}

.page-header {
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .list-nav,
.list-contact {
    display: none;
  }
}
.page-header__button {
  border: none;
  padding: 0;
  margin-left: 270px;
  background-color: #FFFFFF;
}

.page-header__svg {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 767px) {
  .page-header__button,
.page-header__svg {
    display: none;
  }
}
.page-header__logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}
.page-header__logo--color {
  color: #000000;
}

.page-footer__logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.page-footer__logo--color {
  color: #FFFFFF;
}

.heading {
  background-color: #2F303A;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), color-stop(0%, rgba(47, 48, 58, 0.4))), url(../images/Img\ \(5.2\).jpg);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/Img\ \(5.2\).jpg);
  background-size: cover;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.title-text {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.button-studio {
  cursor: pointer;
  background-color: #188CE8;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-studio:hover, .button-studio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.transparent-header {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.benefits:not(:last-child) {
  margin-bottom: 30px;
}

.icon-benefits {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 70px;
  height: 70px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.text {
  color: #757575;
  line-height: 1.71;
  margin-top: 0;
}

@media screen and (max-width: 1199px) {
  .photo-section {
    display: none;
  }
}
.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-two {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 0;
}

.team-li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-li:not(:last-child) {
  margin-bottom: 30px;
}

.photo {
  width: 450px;
  height: 460px;
}

.text-photo {
  width: 450px;
  padding-top: 30px;
  padding-right: 122px;
  padding-bottom: 30px;
  padding-left: 122px;
  text-align: center;
  background-color: #FFFFFF;
}

.text-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.text-paragraph {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-li {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.icon-li:not(:last-child) {
  margin-right: 10px;
}

.icon-a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.icon-social:hover {
  fill: currentColor;
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.icon-text {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients:nth-child(2n) {
  margin-left: 30px;
}
.clients:nth-last-child(-n+4) {
  margin-top: 30px;
}

.clients {
  width: 210px;
  height: 92px;
}

.clients-a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-a:hover {
  border-color: #2196F3;
  color: #2196F3;
}

.Logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.Logo:hover {
  fill: currentColor;
}

.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__address {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  line-height: 1.71;
  margin-bottom: 8px;
}

.page-footer__li:not(:last-child) {
  margin-bottom: 8px;
}
.page-footer__li:last-child {
  margin-bottom: 60px;
}

.page-footer__contact {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.footer-social__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 122px;
  margin-bottom: 60px;
}

.footer-social__icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social__icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
}

.footer-social__svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-form__lebel {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form__input {
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
}

.input placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 122px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0ch;
  background-color: #188CE8;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-form__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */