/* body {
   background-color: var(--white);
   color: var(--black);
   font-family:"Roboto", sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
} */

/* :root {
    --o-animation: cubic-bezier(0.4, 0, 0.2, 1);

    --black: #000000;
    --beige: #f5f4fa;
    --series: #AFB1B8;
    --blue: #2196F3;
    --white: #FFFFFF;
    --grey-black: #212121;
    --dark-series: #757575;
    --series-two: #2F303A;
    --blue-two: #188CE8;
} */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */


/*SVG*/

/* .list-contact__icon-envelope {
    margin-right: 10px;

    width: 16px;
    height: 12px;

    fill: currentColor;
} */

/* .list-contact__icon-smartphone:hover
.list-contact__icon-envelope:hover {
    fill: currentColor;
} */


/* .footer-social__icon:hover {
    fill: rgba(33, 150, 243, 1);
} */

/* .list-contact__icon-smartphone {
    margin-right: 10px;

    width: 10px;
    height: 16px;

    fill: currentColor;
} */


/* .icon-benefits {
    background-color: var(--beige);
    border-radius: 4px;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .icon {
    width: 70px;
    height: 70px;
} */

/* .icon-social {
    width: 20px;
    height: 20px;
    fill: currentColor;
} */

/* .icon-social:hover {
    fill: currentColor;
} */

/* .icon-list {
    display: flex;
} */
/* .icon-li {
    height: 44px;
    width: 44px;

   border-radius: 50%;

} */

/* .footer-social__icon:not(:last-child)
.icon-li:not(:last-child){
    margin-right: 10px;
} */
/* .icon-a {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--series);
    transition: background-color 250ms var(--o-animation), color 250ms var(--o-animation);
} */
/* .footer-social__link {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--series);
    transition: background-color 250ms var(--o-animation), color 250ms var(--o-animation);
} */
/* .footer-social__svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
} */

/* .footer-social__link:hover {
    background-color: var(--blue);
    color: var(--white);
} */
/* .icon-a:hover {
    background-color: var(--blue);
    color: var(--white);
} */

/* .icon-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--grey-black);

    margin-bottom: 50px;
} */

/* .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .clients{
    width: 170px;
    height: 92px;
} */
/* .clients:not(:last-child) {
    margin-right: 30px;
} */
/* .clients-a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--series);
    transition: color 250ms var(--o-animation), border-color 250ms var(--o-animation);
} */
/* .clients-a:hover {
    border-color: var(--blue);
    color: var(--blue);
} */

/* .Logo {
    width: 106px;
    height: 60px;

    fill: currentColor;
} */
/* .Logo:hover {
    fill: currentColor;
} */
/* .footer-social__label  {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white);
    
    margin-bottom: 20px;
} */
/* .footer-form__lebel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white);

    margin-bottom: 20px;
} */
/* .footer-social__list {
    display: flex;
} */
/* .div-footer {
    display: flex;
    align-items: baseline;
} */
/* .footer-social {
    margin-left: 70px;
} */
/* .footer-social__icon {
    height: 44px;
    width: 44px;
    
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
}  */


/*header*/
/* .page-header {
   height: 80px;
    
   border-bottom: 1px solid #ECECEC;
} */

/* .page-header__nav {
    display: flex;
    align-items: center;
} */

/* .page-header__logo {
    color: var(--blue);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    display: inline-block;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    margin-right: 93px;
} */
/* .page-header__logo--color {
    color: var(--black);
} */

/* .list-nav {
    display: flex;
} */

/* .list-nav__link {
    position: relative;
    color: var(--grey-black);
    list-style: none;
    text-decoration: none;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--o-animation);
} */
/* .list-nav__link--underlining::after{
    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 4px;
    left: 0;
    bottom: 4px;

    background: var(--blue);
    border-radius: 2px;
    transition: transform 250ms var(--o-animation);
} */


/* .list-contact__navigation {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--dark-series);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--o-animation);
} */

/* .list-contact {
    display: flex;

    margin-left: auto;
} */

/* .list-contact__li:not(:last-child) {
    margin-right: 50px;
} */

/* .list-nav__navigation:not(:last-child) {
    margin-right: 50px;
} */

/* .list-nav__link--color {
    color: var(--blue);
} */

/*main*/
/* .heading {
    background-color: var(--series-two);
    background: linear-gradient( to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), 
    url(../images/Img\ \(5\).jpg);

    background-size: cover;

    text-align: center;
    
    padding-top: 200px; 
    padding-bottom: 200px;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
} */


/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
} */

/* .transparent-header {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
} */

/* .title-text {
    color: var(--white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
} */

/* .button-studio {
    cursor: pointer;
    background-color: var(--blue-two);
    color: var(--white);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: transparent;
    transition: background-color 250ms var(--o-animation);
} */

/* ul {
    padding: 0;
    margin: 0;
    list-style: none;
} */
/* .photo {
    display: block;
} */


/* .text-photo {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
    text-align: center;

    background-color: var(--white);
} */
/* .portfolio-photo {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    background-color: var(--white);

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
} */

/* .features {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .list-benefits {
    display: flex;
} */

/* .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 0;
} */
/* .text {
    color: var(--dark-series);

    line-height: 1.71;

    margin-top: 0;
} */

/* .benefits:not(:last-child) {
    margin-right: 30px;
} */

/* .title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;
    margin-top: 0;
} */

/* .photo-section {
    padding-top: 0;
    padding-bottom: 94px;
} */

/* .list-two {
    display: flex;
} */

/* .list-photo {
    display: flex;
} */

/* .photo-li:not(:last-child) {
    margin-right: 30px;
} */

/* .photo-div {
    position: relative;
} */

/* .photo-box {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;
    bottom: 0;
    
    background-color: rgba(47, 48, 58, 0.8);
} */


/* .photo-p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    
    color: var(--white);
} */



/* .team {
    background-color: var(--beige);

    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .team-li:not(:last-child) {
    margin-right: 30px;
} */

/* .team-li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 0px 0px 4px 4px;
} */

/* .text-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;
} */

/* .text-paragraph {
    color: var(--dark-series);

    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-top: 0;
    margin-bottom: 16px;
} */


/*footer*/
/* .page-footer {
    background-color: var(--series-two);

    padding-top: 60px;
    padding-bottom: 60px;
} */

/* .page-footer__logo {
    color: var(--blue);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    margin-bottom: 20px;
} */
/* .page-footer__logo--color {
    color: var(--white);
} */

/* .page-footer__address {
    display: block;
    text-decoration: none;
    color: var(--white);
    font-style: normal;

    line-height: 1.71;

    margin-bottom: 9px;
    transition: color 250ms var(--o-animation);
} */

/* .page-footer__contact {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;

    line-height: 1.71;
    transition: color 250ms var(--o-animation);
} */
/* .list-contact__li {
    display: block;
} */
/* .page-footer__li:not(:last-child) {
    margin-bottom: 9px;
} */

/*portfolio*/

/* .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .list-three {
    margin-bottom: 50px;
    display: flex;

    justify-content: center;
} */

/* .button-li:not(:last-child) {
    margin-right: 8px;
} */

/* .button-portfolio {
    cursor: pointer;
    background-color: var(--beige);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    text-align: center;
    border: transparent;
    transition: background-color 250ms var(--o-animation), 
    color 250ms var(--o-animation), 
    box-shadow 250ms var(--o-animation);
} */
/* .btn-one {
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
} */
/* .btn-two {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 125px;
} */
/* .btn-three {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 112px;
} */
/* .btn-four {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 103px;
}
.btn-five {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 130px;
} */

/* .text-portfolio {
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;

    color: var(--grey-black);
} */
/* .paragraph-portfolio {
    color: var(--dark-series);

    font-size: 16px;
    line-height: 1.87;

    margin: 0;
} */


/* .list-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.list-portfolio .item {
    width: 370px;
} */
/* .item {
    margin-right: 30px;
    margin-bottom: 30px;

    overflow: hidden;
} */
/* .item:nth-child(3n) {
    margin-right: 0;
}
.item:nth-last-child(-n +3) {
    margin-bottom: 0;
} */

/* .item-portfolio {
    position: relative;
    overflow: hidden;
} */

/* .item-portfolio::before {
    display: inline-block;
    position: absolute;
    content: "";
    Width: 100%; 
    Height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--o-animation);
   
} */


/* .paragraph-div {
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0;
  transform: translateY(245px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;

    color: var(--white);
} */
/* .item:hover .item-portfolio::before, */
/* 
*/
/* .item-a {
    text-decoration: none;
} */


/* .list-contact__navigation:hover,
.list-contact__navigation:focus,
.page-footer__contact:hover,
.page-footer__contact:focus,
.page-footer__address:hover,
.page-footer__address:focus
.list-nav__link:hover,
.list-nav__link:focus  {
    color:var(--blue);
} */
/* .button-studio:hover,
.button-studio:focus,
.footer-form__button:hover,
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--blue);
    color: var(--white);
}
.button-portfolio:hover {
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08),
 0px 2px 2px rgba(0, 0, 0, 0.12);

 border-radius: 4px;
 } */

 /*basckdrop*/

 /* .basckdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color:rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--o-animation);
 } */

 /* .basckdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
 } */

 /* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    background-color: var(--white);
 } */

 /* .button-modal {
    position: absolute;
    cursor: pointer;   
    box-sizing: border-box;
    margin-top: 8px;
    margin-left: 490px;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    padding: 9px;
    top: 0px;
    right: 8px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
 } */
 /* .svg-modal {
    width: 18px;
    height: 18px;

    fill: #000000;;
 } */
 /* .svg-modal:hover {
    fill: var(--blue);
 } */
 
 /* textarea {
    resize: none;
 } */

 /* .text-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: var(--grey-black);
 } */
 /* .name-modal {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
        
    letter-spacing: 0.01em;

    color: var(--dark-series);
 } */

 /* .text-two {
    display: block;
    letter-spacing: 0.01em;
    line-height: 24px;

    margin-left: 8px;

    color: var(--dark-series);
 } */
 /* .div-modal {
    display: flex;
    align-items: center; 
    justify-content: center;
 } */
 /* .div-modal input {
    width: 0px;
    height: 15px;

 } */

 /* .text-span {
    color: var(--blue);
 } */
 
 /* .but-modal {
    cursor: pointer;
    
    width: 200px;
    height: 50px;

    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0ch;
    margin-left: 124px;
    margin-right: 124px;
    margin-top: 30px;

    letter-spacing: 0.06em;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;

    color: var(--white);
 } */
 /* .but-modal:hover {
    background-color: var(--blue-two);
 } */

 /* .form {
    width: 448px;
 } */

 /* .list-modal {
    display: flex;
    flex-direction: column;
 } */

 /* .list-modal:not(:last-child) {
    margin-bottom: 10px;
 } */
 /* .list-modal:last-child {
    margin-bottom: 20px;
 } */
/* .list-modal label {
    margin-bottom: 4px;
} */
/* .list-modal textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
} */
/* .list-modal input {
    box-sizing: border-box;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    min-height: 40px;
    padding: 14px;
    padding-left: 42px;
} */

/* .list-modal textarea {
    box-sizing: border-box;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    min-height: 120px;
    padding: 12px 16px;
} */
/* .list-modal input:hover {
    border-color: var(--blue);
} */
/* .list-modal textarea:hover {
    border-color: var(--blue);
} */

/* .input-div {
    position: relative;
} */
/* .input-modal {
    width: 448px;
} */
/* .input-modal:focus ~ .svg-input,
.input-modal:hover ~ .svg-input {
    fill: var(--blue);
} */

/* .svg-input {
    position: absolute;

    width: 18px;
    height: 18px;

    bottom: 14px;
    left: 15px;
} */

/* .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */
/* .icon-agreement {
    display: inline-block;

    width: 15px;
    height: 15px;
    margin-right: 8px;

    border: 1px solid var(--black);
    border-radius: 2px;
} */
/* .checkbox:checked + .icon-agreement {
    background-image: url(../images/check.svg);
    background-color: var(--blue);
    border-color: var(--blue);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
} */

/*footer-form*/

/* .footer-form {
    margin-left: auto;
    display: flex;

} */

/* .footer-form__input {
    width: 358px;
    height: 50px;
    padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: var(--series-two);
    color: var(--white);
} */

/* .input placeholder {
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
} */

/* .footer-form__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    margin-left: 12px;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0ch;
    
    background-color: var(--blue-two);
 
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--white);
} */

/* .footer-form__svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
} */

/* .footer-form__box {
    display: flex;
    text-align: center;
} */