.features {
    padding-top: 60px;
    padding-bottom: 60px;
}
.transparent-header {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
.benefits {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
.icon-benefits {
    background-color: $beige;
    border-radius: 4px;

    width: 450px;
    height: 120px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 70px;
    height: 70px;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 0;
}

.text {
    color: $dark-series;

    line-height: 1.71;

    margin-top: 0;
}
