.heading {
    background-color: $series-two;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
        url(../images/Header-img-380-1x.jpg);

    background-size: cover;
    text-align: center;
    justify-content: center;

    padding-top: 118px;
    padding-bottom: 118px;
    
    // min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px) {
        min-width: 320px;
    }
}
@media screen and (min-device-pixel-ratio: 2), 
     screen and (min-resolution: 2dppx) {
    .heading {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/Header-img-380-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .heading {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
            url(../images/Header-img-768-1x.jpg);
    }

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 2dppx) {
            .heading {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/Header-img-768-2x.jpg);
            }
        }

}

@media screen and (min-width: 1200px) {
    .heading {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
            url(../images/img-header.jpg);

            padding-top: 200px;
            padding-bottom: 200px;
            min-width: 1200px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
        .heading {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), 
            url(../images/img-header.jpg);
        }
    }
    

}

.title-text {
    color: $white;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 360px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}
.button-studio {
    cursor: pointer;
    background-color: $blue-two;
    color: $white;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 10px 24px;
    min-width: 150px;
    min-height: 30px;
    border: transparent;
    transition: background-color 250ms $o-animation;

    &:hover,
    &:focus {
        background-color: $blue;
        color: $white;
    }

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
        min-width: 216px;
        min-height: 50px;
    }
}


