.heading {
    background-color: $series-two;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%),
        url(../images/Img\ \(5\).jpg);

    background-size: cover;

    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    color: $white;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.button-studio {
    cursor: pointer;
    background-color: $blue-two;
    color: $white;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: transparent;
    transition: background-color 250ms $o-animation;

    &:hover, &:focus {
        background-color: $blue;
        color: $white;
    }
}

