.page-header__logo {
    color: $blue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    display: block;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    &--color {
        color: $black;
    }
}

.page-footer__logo {
    color: $blue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    display: block;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 20px;

    &--color {
        color: $white;
    }
}