.page-header__logo {
    color: $blue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    display: block;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    &--color {
        color: $black;
    }
        @media screen and (min-width: 768px) {
            margin-right: 88px;
        }
}

.page-footer__logo {
    color: $blue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    display: block;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-bottom: 20px;

    &--color {
        color: $white;
    }
@media screen and (max-width: 1199px) {
    text-align: center;
}

@media screen and (min-width: 1200px) {
     font-size: 26px;
}
}