@media screen and (min-width: 767px) {
    .menu-container {
        display: none;
    }
}
.menu-container {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    opacity: 0;

    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms $o-animation;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px;
    background-color: $white;
}
.menu-container .button-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.menu-container__svg {
    width: 40px;
    height: 40px;
}

.menu-container.is-open {
    opacity: 1;
    transform: translateX(0);
    transition: transform 250ms $o-animation;
}
.menu-container .button-menu {
    position: absolute;
    top: 10px;
    right: 16px;
}

@media screen and (max-width: 767px) {

.list-navigation {
    margin-top: 48px;
    margin-bottom: 202px;
}
.list-nav__navigation {
    &:not(:last-child) {
        margin-bottom: 33px;
    } 
}
.list-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: $grey-black;

    &--color {
        color: $blue;
    }
}
.list-con {
    margin-bottom: 60px;
    &__li {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    &__navigation {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        text-decoration: none;
        letter-spacing: 0.02em;
        color: $dark-series;
        &--color {
            color: $blue;
        }
    }
}
.list-social {
    display: flex;
    margin-bottom: 45px;
}
.list-social__li {
    &:not(:first-child) {
        padding-left: 10px;
    }
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }
}
.list-social__a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $blue;
}
}


