.page-footer {
    background-color: $series-two;

    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    min-width: 480px;
}
.page-footer__box {
@media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            align-items: baseline;
            justify-content: center;
        }

@media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
}
}

@media screen and (max-width: 1199px) {
.footer-form__div {
    text-align: center;
}
}

.footer-social {
    margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
           margin-bottom: 0;
           margin-left: 70px;
    }
}

@media screen and (min-width: 1200px) {
    .div-footer {
        display: flex;
        align-items: baseline;
    }
}

.page-footer__address {
    display: block;
    text-decoration: none;
    color: $white;
    font-style: normal;

    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-bottom: 8px;
    
@media screen and (max-width: 1200px) {
    text-align: center;
}
}
.page-footer__li {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &:last-child {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}
.page-footer__contact {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;

    line-height: 1.71;
    letter-spacing: 0.03em;
    @media screen and (max-width: 1200px) {
    text-align: center;
    }
}

.footer-social__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;

    margin-bottom: 20px;
}
.footer-social__list {
    display: flex;
    align-items: center; 
    justify-content: center;   

}

.footer-social__icon {
    height: 44px;
    width: 44px;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);

    &:not(:last-child) {
            margin-right: 10px;
        }
    &:hover {
        fill: rgba(33, 150, 243, 1);
    }
}
.footer-social__link {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $series;
    transition: background-color 250ms $o-animation, color 250ms $o-animation;
    
        &:hover {
            background-color: $blue;
            color: $white;
        }
}
.footer-social__svg {
    width: 20px;
    height: 20px;
    fill: $white;
}

@media screen and (min-width: 1200px) {
    .footer-form {
        margin-left: auto;
        display: flex;
    }
}
.footer-form__lebel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;

    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
    text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer-form__box {
        display: flex;
        text-align: center;
    }
}

.footer-form__input {
    width: 450px;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: $series-two;
    color: $white;

@media screen and (min-width: 1200px) {
        width: 358px
    }
}
.input placeholder {
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0ch;

    background-color: $blue-two;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: $white;
    &:hover {
            background-color: $blue;
            color: $white;
        }

@media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
}
.footer-form__svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

