.page-header {
    position: relative;
    display: flex;
    height: 60px;
    // min-width: 480px;
    min-width: 320px;
    padding: 10px;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 768px) {
            min-height: 80px;
            min-width: 768px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;
    }
}

.page-header__nav {
    display: flex;
    align-items: center;
}

.list-nav {
    display: flex;
    &__navigation {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $grey-black;
        padding-bottom: 35px;
        transition: color 250ms $o-animation;

        &:hover,
        &:focus {
            color: $blue;
        }
        &--underlining {
            &::after {
                content: "";
                position: absolute;
                display: block;
                
                width: 100%;
                height: 4px;
                left: 0;
                bottom: 4px;
                
                background: $blue;
                border-radius: 2px;
                transition: transform 250ms $o-animation;
            } 
        }
        &--color {
            color: $blue;
        }
    }
}

.list-contact {
    margin-left: 95px;

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }

    &__li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

    @media screen and (min-width: 1200px) {
        display: block;
        
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    }

    &__navigation {
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        
        letter-spacing: 0.02em;
        color: $dark-series;
        transition: color 250ms $o-animation;
        &:hover,
        &:focus {
            color: $blue;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__icon-envelope {
        margin-right: 10px;
        
        width: 16px;
        height: 12px;
        
        fill: currentColor;
        &:hover {
            fill: currentColor;
        }
    }
    &__icon-smartphone {
        margin-right: 10px;
        
        width: 10px;
        height: 16px;
        
        fill: currentColor;
        &:hover {
            fill: currentColor;
        }
    }
}


@media screen and (max-width: 767px) {
    .list-nav, 
    .list-contact {
        display: none;
    }
}
.button-menu {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 250px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    
    &--color {
        &:hover,
        &:focus {
            fill: $blue;
        }
    }
    
}

.page-header .button-menu {
    position: absolute;
    top: 10px;
    right: 16px;
}
.page-header__svg {
    width: 40px;
    height: 40px;

    fill: currentColor;
}


@media screen and (min-width: 767px) {
    .button-menu, 
    .page-header__svg {
        display: none;
    }
}






