.page-footer {
    background-color: $series-two;

    padding-top: 60px;
    padding-bottom: 60px;
}
.page-footer__address {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $white;
    font-style: normal;

    line-height: 1.71;

    margin-bottom: 8px;

}
.page-footer__li {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &:last-child {
        margin-bottom: 60px;
    }
}
.page-footer__contact {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;

    line-height: 1.71;
}

.footer-social__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;

    margin-bottom: 20px;
}
.footer-social__list {
    display: flex;
    margin-left: 122px;
    margin-bottom: 60px;
}

.footer-social__icon {
    height: 44px;
    width: 44px;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);

    &:not(:last-child) {
            margin-right: 10px;
        }
}
.footer-social__link {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $series;
}
.footer-social__svg {
    width: 20px;
    height: 20px;
    fill: $white;
}
.footer-form__lebel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    color: $white;

    margin-bottom: 20px;
}
.footer-form__input {
    width: 450px;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: $series-two;
    color: $white;
}
.input placeholder {
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    margin-left: 122px;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0ch;

    background-color: $blue-two;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: $white;
}
.footer-form__svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

