.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid #ECECEC;
}
.page-header__nav {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .list-nav, 
    .list-contact {
        display: none;
    }
}
.page-header__button {
    border: none;
    padding: 0;
    background-color: $white;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 270px;
    
}
.page-header__svg {
    width: 40px;
    height: 40px;
}
@media screen and (min-width: 767px) {
    .page-header__button, 
    .page-header__svg {
        display: none;
    }
}



