@media screen and (max-width: 1199px) {
    .photo-section {
       display: none;
    }
}
.photo-section {
    padding-top: 0;
    padding-bottom: 94px;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;
    margin-top: 0;
}

.list-photo {
    display: flex;
}

.photo-li {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.photo-div {
    position: relative;
}

.photo-img {
    display: block;
    width: 370px;
    height: 294px;
}

.photo-box {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;
    bottom: 0;

    background-color: rgba(47, 48, 58, 0.8);
}

.photo-p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;

    color: $white;
}