.regular-customers {
    padding-top: 60px;
    padding-bottom: 60px;
}
.icon-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17em;
    text-align: center;
    letter-spacing: 0.03em;

    color: $grey-black;

    margin-bottom: 30px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
}
.clients {
    &:nth-child(2n) {
        margin-left: 30px;
    }
    
    &:nth-last-child(-n +4) {
        margin-top: 30px;
    }
}

.clients {
    width: 210px;
    height: 92px;
}
.clients-a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: $series;
    transition: color 250ms $o-animation, border-color 250ms $o-animation;

    &:hover {
        border-color: $blue;
        color: $blue;
    }
}
.Logo {
    width: 106px;
    height: 60px;

    fill: currentColor;

    &:hover {
        fill: currentColor;
    }
}

