.team {
    background-color: $beige;
    margin: auto;
    min-width: 480px;

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        min-width: 768p
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;

        padding-top: 94px;
        padding-bottom: 94px;
        
    }
}
.title-two {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
    margin-top: 0;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.list-two {
@media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;  
  }
}
.team-li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        height: 536px;

        &:nth-child(2n) {
                margin-left: 30px;
            }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 428px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.photo {
    width: 450px;
    height: 460px;

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}
.text-photo {
    padding-top: 30px;
    padding-right: 122px;
    padding-bottom: 30px;
    padding-left: 122px;
    text-align: center;

    background-color: $white;

    @media screen and (min-width: 768px) {
        padding-right: 74px;
        padding-left: 74px;
        padding-bottom: 24px;
    }

    @media screen and (min-width: 1200px) {
        padding-right: 32px;
        padding-bottom: 30px;
        padding-left: 32px;
    }
}
.text-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;
}
.text-paragraph {
    color: $dark-series;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-top: 0;
    margin-bottom: 16px;
}
.icon-list {
    display: flex;
}
.icon-li {
    height: 44px;
    width: 44px;

    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 10px;
    }
}
.icon-a {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $series;
    transition: background-color 250ms $o-animation, color 250ms $o-animation;
    &:hover {
            background-color: $blue;
            color: $white;
        }
}
.icon-social {
    width: 20px;
    height: 20px;
    fill: currentColor;

    &:hover {
        fill: currentColor;
    }
}